*,
::before,
::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: space-between;
    background-color: white;
    position: relative;
    margin: 50px auto;
    border-radius: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.navbar-menu ul,
.side-bar-menu ul {
    display: flex;
    list-style: none;
}

.navbar-menu ul li,
.side-bar-menu ul li {
    padding: 10px;
}

.nav-item a {
    text-decoration: none;
    color: black;
}

.site-logo {
    height: 70px;
    width: 70px;
}

.background-image-container {
    background-image: url('images/nathan-dumlao-I_394sxx0ec-unsplash.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
}

.background-image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.side-bar-menu li svg {
    height: 20px;
}

.top-container {
    color: white; 
    position: relative;
    width: 60%;
    margin: auto;
    padding-top: 20px;
}

h3 {
    font-family: cursive;
    padding: 10px;
}

h1 {
    font-size: 44px;
    font-weight: 700;
    padding: 20px 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.food-menu {
    padding: 0px;
    list-style-type: none;
}

.food-menu li {
    position: relative;
    padding-left: 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.food-menu li svg {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.order-div {
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px 20px;
}

.order-btn {
    background-color: #F33127;
    font-size: 16px;
    font-weight: 700;
    color: white;
    padding: 15px 35px;
    text-transform: uppercase;
    border-radius: 5px;
    margin-right: 20px;
}

.pricing-para {
    font-size: 23px;
    font-weight: 500;
}

.superscript-pricing-span {
    color: #F48F09;
    font-size: smaller;
    vertical-align: super;
    padding-left: 2px;
}

/*  used adjust the absolute display*/
.second-container {
    background-color: #0B1517;
    height: auto;
    width: 100%;
    padding-top: 100vh;
}

.sc-inner-container {
    display: flex;
    color: white;
    align-items: center;
    width: 60%;
    padding: 40px 0px;
    margin: auto;
    justify-content: space-around;
}

.image-in-left-content {
    height: 500px;
    width: auto;
}

.right-info-content {
    width: 50%;
}

.page2-h3 {
    font-family: cursive;
    color: #F48F09;
    padding: 10px;
    font-size: 20px;
}

.page2-h1 {
    font-size: 36px;
    margin-top: -20px;
    font-weight: 400;
}

.page2-p {
    font-size: 15px;
    padding: 0px 10px;
}

.svg-icons {
    height: 40px;
    padding: 5px 10px;
}

.list-elements {
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
}

.first-list-element {
    display: flex;
}

h4 {
    font-size: 15px;
}
.icon-para {
    font-size: 12px;
    padding-top: 5px;
}

.second-list-element {
    display: flex;
}

.read-more-btn {
    background-color: #F5900A;
    font-size: 16px;
    font-weight: 700;
    color: white;
    padding: 12px 25px;
    text-transform: uppercase;
    border-radius: 5px;
    margin: 0px 20px;
}

.read-more-and-sign-image {
    display: flex;
    align-items: center;
}

.signature {
    height: 40px;
}