*,
::before,
::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: space-between;
    background-color: white;
    position: relative;
    margin: 50px auto;
    border-radius: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.navbar-menu ul,
.side-bar-menu ul {
    display: flex;
    list-style: none;
}

.navbar-menu ul li,
.side-bar-menu ul li {
    padding: 10px;
}

.nav-item a {
    text-decoration: none;
    color: black;
}

.site-logo {
    height: 70px;
    width: 70px;
}

.background-image-container {
    background-image: url('images/nathan-dumlao-I_394sxx0ec-unsplash.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    z-index: 1;
}

.background-image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.side-bar-menu li svg {
    height: 20px;
}

.top-container {
    color: white; 
    position: relative;
    width: 60%;
    margin: auto;
    padding-top: 20px;
}

h3 {
    font-family: cursive;
    padding: 10px;
}

h1 {
    font-size: 44px;
    font-weight: 700;
    padding: 20px 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.food-menu {
    padding: 0px;
    list-style-type: none;
}

.food-menu li {
    position: relative;
    padding-left: 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.food-menu li svg {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.order-div {
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px 20px;
}

.order-btn {
    background-color: #F33127;
    font-size: 16px;
    font-weight: 700;
    color: white;
    padding: 15px 35px;
    text-transform: uppercase;
    border-radius: 5px;
    margin-right: 20px;
}

.pricing-para {
    font-size: 23px;
    font-weight: 500;
}

.superscript-pricing-span {
    color: #F48F09;
    font-size: smaller;
    vertical-align: super;
    padding-left: 2px;
}

/*  used adjust the absolute display*/
.second-container {
    background-color: #0B1517;
    height: auto;
    width: 100%;
    padding-top: 100vh;
}

.sc-inner-container {
    display: flex;
    color: white;
    align-items: center;
    width: 60%;
    padding: 40px 0px;
    margin: auto;
    justify-content: space-around;
    margin-top: 70px;
}

.image-in-left-content {
    height: 500px;
    width: auto;
}

.right-info-content {
    width: 50%;
}

.page2-h3 {
    font-family: cursive;
    color: #F48F09;
    padding: 10px;
    font-size: 20px;
}

.page2-h1 {
    font-size: 36px;
    margin-top: -20px;
    font-weight: 400;
}

.page2-p {
    font-size: 15px;
    padding: 0px 10px;
}

.svg-icons {
    height: 40px;
    padding: 5px 10px;
}

.list-elements {
    display: flex;
    padding: 10px;
    margin: 15px 0px;
}

.first-list-element {
    display: flex;
}

h4 {
    font-size: 15px;
}
.icon-para {
    font-size: 12px;
    padding-top: 5px;
}

.second-list-element {
    display: flex;
}

.read-more-btn {
    background-color: #F5900A;
    font-size: 16px;
    font-weight: 700;
    color: white;
    padding: 12px 25px;
    text-transform: uppercase;
    border-radius: 5px;
    margin: 0px 20px;
}

.read-more-and-sign-image {
    display: flex;
    align-items: center;
}

.signature {
    height: 40px;
}

.grid-container {
    margin: 100px 0px;
}

.dishes-info {
    text-align: center;
    color: white;
    width: 30%;
    margin: auto;
}

.dishes-info h2 {
    padding: 20px 0px;
    font-size: 25px;
    font-weight: 400;
}

.dishes-info p {
    font-size: 14px;
    font-weight: lighter;
    padding-bottom: 20px;
}

.grid-menu {
    text-align: center;
    left: 20%;
    top: 150px;
    display: grid;
    width: 70%;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
    padding: 60px 0px;
}

.grid-items {
    border-radius: 5px;
    box-shadow: 5px white;
    margin: 15px;
    width: auto;
    height: auto;
    background-color: whitesmoke;
}

.offers {
    height: 25px;
    display: block;
    margin: 10px 0px 0px 10px;
}

.food-pic {
    height: 150px;
    object-fit: cover;
}

.grid-items h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
}

.grid-items p {
    color: black;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 10px;
}

.grid-items p > span {
    color: red;
    text-decoration: line-through;
}

.grid-items-btn {
    background-color: #F5900A;
    color: white;
    border-color: #F5900A;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.grid-items-btn:hover {
    background-color: #F33127;
    transition: all 0.5s ease-in;
}

.second-container, .third-container {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.third-container {
    background-image: url('images/page4image.jpg');
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
}

.third-container > div {
    width: 80%;
    margin: auto;
    padding: 100px;
}

.third-container > div > h3 {
    color: #F5900A;
    font-family: cursive;
    font-weight: 500;
    font-size: 22px;
}

.third-container > div > h1 {
    color: white;
    font-size: 40px;
    font-weight: 6s00;
}

.third-container > div > button {
    background-color: #F48F09;
    font-size: 16px;
    font-weight: 700;
    color: white;
    padding: 15px 30px;
    text-transform: uppercase;
    border-radius: 5px;
    margin: 20px 15px;
}